body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

h1 {
    margin: 0 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px; /* لتوفير المسافة بين الروابط والزر */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
    font-family: Droid Arabic Kufi;
    margin: 0 15px;
    border-radius: 10px;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #0056b3;
}

#darkModeToggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

#darkModeToggle:hover {
    transform: rotate(20deg);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10%;
    overflow: hidden;
}

.service-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 25%;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    overflow: hidden;

}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-box a {
    text-decoration: none;
    color: #333;
}

.service-box h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #007bff;
}

.service-box p {
    font-weight: bold;
    margin: 0;
    font-size: 15px;
    color: rgb(49, 247, 0);
}
.service-box h3 {
    font-weight: bold;
    font-size: 17px;
    color: rgb(0, 0, 0);
}
body.dark-mode .service-box p{
    color: #f4f4f4;
}
body.dark-mode .service-box h3{
    color: #fff;
}
/* Dark Mode Styles */
body.dark-mode {
    background-color: #2c2c2c;
    color: #f4f4f4;
}

body.dark-mode .service-box {
    background: #444;
}

body.dark-mode .service-box h2 {
    color: #f4f4f4;
}

body.dark-mode nav ul li a {
    color: #000000;
    transition: 0.3s;
    border-radius: 10px;
    padding: 5px 10px;
}
body.dark-mode nav ul li a:hover{
    color: #333;
}
.d{
    width: 100%;
    display: flex;
    border-radius: 10px;
}
iframe{
    border-radius: 10px;
}